/SnakeGame/target/classes/org/example/snakegame/Application.class
/SnakeGame/target/classes/Models/Body.class
/SnakeGame/target/classes/org/example/snakegame/Controller.class
/SnakeGame/target/classes/Models/Direction.class
/SnakeGame/target/classes/Models/Food.class
/SnakeGame/target/classes/org/example/snakegame/hello-view.fxml
/SnakeGame/target/classes/module-info.class
/SnakeGame/target/classes/Models/Placement.class
/SnakeGame/target/classes/Models/Snake.class
/SnakeGame/target/classes/Styles.css
